.cabecalho {
  background-color: #210a3f;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1.5rem 0px 1.5rem;
}

.cabecalho ul {
  list-style: none;
}

.cabecalho p {
  font-size: 1.5rem;
}
.cabecalho a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
}
.cabecalho-menu {
  display: flex;
  gap: 10px;
}

.cabecalho-menu a {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
}

.cabecalho-menu a:hover {
  color: #000;
  background-color: #fff;
}
