body {
    text-align: center;
    margin: 0px;
    height: 2000px;
}

.cabecalho {
    background-color: #210A3F;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1.5rem 0px 1.5rem;
}

.cabecalho ul {
    list-style: none;
}

.cabecalho-menu {
    display: flex;
    gap: 10px;
}

.cabecalho-menu a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
}

.introducao-container {
    max-width: 50rem;
    margin: 20px auto;
    padding: 0 1rem 1rem 1rem;
    background-color: #f7f7f7;   
    border-radius: 4px;
}

#projetos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: #210A3F;
    color:white;
    padding: 50px;

}

.projeto {
    background-color: #000;
    height: 500px;
    position: relative;
}

.projeto::before {
    content: "";
    display: block;
    width: 20px;
    height: 7px;
    background-color: #7721ab;
    position: absolute;
    top: -7px;
}