body {
    text-align: center;
    margin: 0px;
    height: 2000px;
}

.cabecalho {
    background-color: #210A3F;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1.5rem 0px 1.5rem;
}

.cabecalho ul {
    list-style: none;
}

.cabecalho-menu {
    display: flex;
    gap: 10px;
}

.cabecalho-menu a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
}

.introducao-container {
    max-width: 50rem;
    margin: 0 auto;
    background-color: #f7f7f7;
    
}