body {
    text-align: center;
    margin: 0px;
}

.cabecalho {
    background-color: #210A3F;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1.5rem 0px 1.5rem;
}

.cabecalho ul {
    list-style: none;
}

.cabecalho-menu {
    display: flex;
    gap: 10px;
}

.cabecalho-menu a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
}

.cabecalho-menu a:hover {
    color:#000;
    background-color: #fff;
}

.introducao-container {
    max-width: 50rem;
    margin: 20px auto;
    padding: 0 1rem 1rem 1rem;
    background-color: #f7f7f7;   
    border-radius: 10px;
}

#projetos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: #210A3F;
    color:white;
    padding: 50px;

}

.projeto {
    background-color: #000;
    height: 500px;
    position: relative;
}

.projeto::before {
    content: "";
    display: block;
    width: 20px;
    height: 7px;
    background-color: #7721ab;
    position: absolute;
    top: -7px;
}

.formacao-container {
    max-width: 50rem;
    margin: 20px auto;
    padding: 1rem;
    background-color: #f7f7f7;   
    border-radius: 10px;
}

.formacao-container h2 {
    color: white;
    background-color: #000;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

#contato {
    background-color: #210A3F;
    height: 300px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contato-container {
    margin: 20px;
    background-color: #000;
    grid-column: 2;
}